
.boarding-wrapper{
    width:400px;
    height:499px;
    border:none;
    outline:none;
}

.slick-list{
    border:none;
    outline:none;
}

.slick-slide div{
    outline: none !important;
}


@media screen and (max-width:400px){
    .boarding-wrapper{
        width:100vw;
        height:calc(100vw + 99px);;
    }
}


.slick-dots
{
    position: static;
    display:flex;
    margin-top: 18px;
    width: 100%;    
  
    list-style: none;
    text-align: center;
}

.slick-dots li
{

    display: inline-block;
    width: 12px; /*점간격*/
    height: 10px;
    padding: 0;
    cursor: pointer;
    top:-8px;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
    
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
    color:#F8B517;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 0.625rem;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: '•';
    text-align: center;
    

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    color: #F8B517;
}



.slick-prev,
.slick-next
{
    position: absolute;
    display:inline-block;
    top: 50%;
    z-index:5;
    width: 70px;
    height: 60px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}


.slick-prev{
    left:-20px !important;
}

.slick-next{
    right:-20px !important;
}


.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    
}



.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
   border:none;  
}




.slick-prev:before
{
    color:black;
    content:"<";   
    left:15px;
    position: absolute;
    z-index: 5;
}


.slick-next:before  /* 오른쪽화살표*/
{
    color:black;
    content:">";
    right:27px;
    position: absolute;
    z-index: 5;
}
